@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var user = (await SignInManager.UserManager.GetUserAsync(User));
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.InboxNavClass(ViewContext)" id="inbox" asp-page="./Inbox">Inbox</a></li>
    @if (!user.IsAdmin)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.MyBookingsNavClass(ViewContext)" id="my-bookings" asp-page="./MyBookings">My Bookings</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.MyBookingsNavClass(ViewContext)" id="my-bookings" asp-page="./MyBookings">All Bookings</a></li>
    }

</ul>
