@page
@model Project_Booking.DeleteModel
@{
    ViewData["Title"] = "Delete";
    ViewData["ActivePage"] = ManageNavPages.MyBookings;
}

<h1>Delete Booking</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.HotelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.HotelID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.numOfBookedRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.numOfBookedRooms)
        </dd>
    </dl>

    <form method="post">
        <input asp-route-id="@Model.CurrentBooking.ID" type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-page="/Account/Manage/MyBookings">Back to List</a>
    </form>
</div>