@page
@model Project_Booking.DetailsModel
@{
    ViewData["Title"] = "MyBookingDetails";
    ViewData["ActivePage"] = ManageNavPages.MyBookings;
}

<div>
    <h4>Booking Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.HotelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.HotelID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBooking.numOfBookedRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBooking.numOfBookedRooms)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="/Account/Manage/MyBookings">Back to List</a>
</div>