@page
@model Project_Booking.EditModel
@{
    ViewData["Title"] = "Edit";
    ViewData["ActivePage"] = ManageNavPages.MyBookings;
}

<h4>Edit Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentBooking.ID" />
            <div class="form-group">
                <label asp-for="CurrentBooking.Name" class="control-label"></label>
                <input asp-for="CurrentBooking.Name" class="form-control" />
                @Html.ValidationMessageFor(model => model.CurrentBooking.Name, "", new { @class = "alertMessages newLine" })
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.LastName" class="control-label"></label>
                <input asp-for="CurrentBooking.LastName" class="form-control" />
                @Html.ValidationMessageFor(model => model.CurrentBooking.LastName, "", new { @class = "alertMessages newLine" })
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.CheckIn" class="control-label"></label>
                <input id="checkin" asp-for="CurrentBooking.CheckIn" class="form-control dateChange" />
                @Html.ValidationMessageFor(model => model.CurrentBooking.CheckIn, "", new { @class = "alertMessages newLine" })
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.CheckOut" class="control-label"></label>
                <input id="checkout" asp-for="CurrentBooking.CheckOut" class="form-control dateChange" />
                @Html.ValidationMessageFor(model => model.CurrentBooking.CheckOut, "", new { @class = "alertMessages newLine" })
            </div>
            <div class="form-inline">
                <button id="checkDates" type="submit" class="btn btn-primary" asp-route-id="@Model.CurrentBooking.ID" asp-page-handler="PickDates">Check dates</button>
                <span style="margin-left:10px" id="printDays">@Model.numberOfAvailableRooms</span>
            </div>
            <div>
                <label>Total days</label>
                <p class="form-control-sm alert-light" disabled id="days"></p>
            </div>
            <label>Price per room</label>
            <p class="form-control-sm alert-light" disabled id="price">@Model.CurrentHotel.RoomPrice</p>
            <div class="form-group">
                <label asp-for="CurrentBooking.numOfBookedRooms">Number Of Rooms</label>
                <input id="numroom" onchange="updateDue()" asp-for="CurrentBooking.numOfBookedRooms" class="form-control dateChange" max="10" min="1" />
                @Html.ValidationMessageFor(model => model.CurrentBooking.numOfBookedRooms, "", new { @class = "alertMessages newLine" })
            </div>
            <div>
                <label>Total price</label>
                <input name="totalPrice" class="form-control-sm alert-light table-responsive" disabled id="totalPrice">
            </div><br />
            <div class="form-group">
                <input id="editButton" asp-page-handler="Save" type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="/Account/Manage/MyBookings">Back to List</a>
</div>


<script>

    //window.onload = startUpFunction();
    document.addEventListener("load", startUpFunction());

    function updateDue() {

        var rooms = parseInt(document.getElementById("numroom").value);
        var price = parseInt(document.getElementById("price").innerHTML);
        var days = parseInt(document.getElementById("days").innerHTML);
        // to make sure that they are numbers
        if (!rooms) { rooms = 0; }
        if (!price) { price = 0; }

        if (isNaN(days)) {
            document.getElementById("totalPrice").innerHTML = "Pick both days and number of rooms"
        }
        else {
            var calcCost = document.getElementById("totalPrice");
            calcCost.value = rooms * price * days;
        }
    }

    var dateChanges = document.querySelectorAll('.dateChange')
    Array.from(dateChanges).forEach(link => {
    link.addEventListener("change", function () {
        var lastday = new Date(document.getElementById("checkout").value);
        var firstday = new Date(document.getElementById("checkin").value);
        var timeDiff = (lastday.getTime() - firstday.getTime());
        var daysDiff = timeDiff / (1000 * 3600 * 24);
        
        document.getElementById("checkDates").style.display = 'block';
        document.getElementById("editButton").disabled = true;

        //Checking if checkout is after checkin
        if (daysDiff <= 0) {
            document.getElementById("days").innerHTML = "Please check your dates";
        }
        else
        {
            document.getElementById("days").innerHTML = daysDiff;
        }
        updateDue();})
    });

    function startUpFunction() {
        var editButton = document.getElementById("editButton");
        var rooms = parseInt(document.getElementById("numroom").value);
        var pDays = parseInt(document.getElementById("printDays").innerHTML);

        var lastday = new Date(document.getElementById("checkout").value);
        var firstday = new Date(document.getElementById("checkin").value);
        var timeDiff = (lastday.getTime() - firstday.getTime());
        var daysDiff = timeDiff / (1000 * 3600 * 24);

        if (daysDiff > 0 && pDays >= rooms) {
            editButton.disabled = false;
            document.getElementById("printDays").innerHTML = pDays;
        }
        else {
            document.getElementById("editButton").disabled = true;
        }
    };



</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/edit.js"></script>
}