@page
@model Project_Booking.InboxModel
@{
    ViewData["Title"] = "Inbox";
    ViewData["ActivePage"] = ManageNavPages.Inbox;
}
<partial name="_StatusMessage" for="StatusMessage" />

<style>
    tr:nth-child(even) {
        background-color: rgba(8, 153, 42, 0.3);
    }

    tr:nth-child(odd) {
        background-color: rgba(15, 89, 25, 0.3);
    }
</style>

<table id="table" class="table table-borderless">
    <thead>
        <tr id="message-table" class="bg-transparent">
            <th>Email</th>
            <th>Subject</th>
            <th>Reply</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CurrentUser.IsAdmin)
        {
            @foreach (var message in Model.Conversation.Where(x=> x.Sender != Model.CurrentUser))
            {
                <tr id="message-list">
                    <td class="text-white">@message.Customer.Email</td>
                    <td class="text-white">@message.Subject</td>
                    <td><a class="text-white" asp-page="./ReplyMessage" asp-route-id="@message.ID">Reply</a></td>
                    <td><a class="text-white" asp-page="./DeleteMessage" asp-route-id="@message.Conversation">Delete</a></td>
                </tr>
            }
        }
        else
        {
            @foreach (var message in Model.Conversation.Where(x => x.Sender == Model.CurrentUser))
            {
                <tr id="message-list">
                    <td class="text-white">@message.Customer.Email</td>
                    <td class="text-white">@message.Subject</td>
                    <td><a class="text-white" asp-page="./ReplyMessage" asp-route-id="@message.ID">Reply</a></td>
                    <td><a class="text-white" asp-page="./DeleteMessage" asp-route-id="@message.Conversation">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
