@page
@model Project_Booking.MyBookingsModel
@{
    ViewData["Title"] = "MyBookings";
    ViewData["ActivePage"] = ManageNavPages.MyBookings;
}

<partial name="_StatusMessage" for="StatusMessage" />


<table id="table" class="table table-striped">
    <thead>
        <tr id="booking-table">
            <th>Hotel</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CurrentUser.IsAdmin)
        {
            @foreach (var booking in Model.Bookings)
            {
                <tr id="booking-list">
                    <td>@booking.Hotel.HotelName</td>
                    <td><a asp-page="./Details" asp-route-id="@booking.ID">View</a></td>
                    <td><a asp-page="./Edit" asp-route-id="@booking.ID">Edit</a></td>
                    <td><a asp-page="./Delete" asp-route-id="@booking.ID">Delete</a></td>
                </tr>
            }
        }
        else
        {
            @foreach (var booking in Model.CurrentUser.MyBookings)
            {
                <tr id="booking-list">
                    <td>@booking.Hotel.HotelName</td>
                    <td><a asp-page="./Details" asp-route-id="@booking.ID">View</a></td>
                    <td><a asp-page="./Edit" asp-route-id="@booking.ID">Edit</a></td>
                    <td><a asp-page="./Delete" asp-route-id="@booking.ID">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
