@page
@model HotelDetailsModel
@{
    ViewData["Title"] = "HotelDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>




<div style="text-align:center">
    <h1 style="margin-bottom: 20px">@Html.DisplayFor(model => model.Hotel.HotelName)</h1>
    <h3 style="margin-bottom: 20px">@Html.DisplayFor(model => model.Hotel.City)</h3>

</div>

<div style="margin-bottom:10px">
    <img src=@Model.Hotel.HotelPictureBig class="responsive" width="1000" height="800">

</div>

<div >
    <h2 style="margin-bottom: 10px">Hotel Information</h2>
    <p style="margin-bottom: 20px">@Html.DisplayFor(model => model.Hotel.HotelInfo)</p>

</div>

<div>
    <p style="margin-bottom: 20px">Number of room: @Html.DisplayFor(model => model.Hotel.NumberOfRooms)</p>

</div>
<div>
    <p style="margin-bottom: 20px">Price per room: @Html.DisplayFor(model => model.Hotel.RoomPrice) Kr</p>

</div>

<div class="container my-4">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content" style="margin-top:20%">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.Hotel.HotelPictureSmallOne
                                     allowfullscreen>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img src=@Model.Hotel.HotelPictureSmallOne
                     data-toggle="modal" data-target="#modal1" width="350" height="200">
            </a>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content" style="margin-top:20%">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.Hotel.HotelPictureSmallTwo
                                     allowfullscreen>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img src=@Model.Hotel.HotelPictureSmallTwo
                     data-toggle="modal" data-target="#modal6" width="350" height="200">
            </a>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content" style="margin-top:20%">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.Hotel.HotelPictureSmallThree
                                     allowfullscreen>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">

                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img src=@Model.Hotel.HotelPictureSmallThree
                     data-toggle="modal" data-target="#modal4" width="350" height="200">
            </a>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <!-- Grid row -->

</div>

@if (SignInManager.IsSignedIn(User))
{
    <div align="center">
        <a class="btn btn-primary" style="width: 50%; height: 40%; font-size : 20px;" asp-page="./Booking" asp-route-id="@Model.Hotel.Id">Book</a>
    </div>
}
else
{
    <div align="center">
        <a class="btn btn-primary" style="width: 50%; height: 40%; font-size : 20px;" asp-page="./Account/Login">Log in to book</a>
    </div>
}




