@page
@model HotelDetailsModel
@{
    ViewData["Title"] = "HotelDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>




@section Scripts{
    <script src="~/js/weather.js"></script>
}



<div style="text-align:center">
    <h1 style="margin-bottom: 20px">
        @Html.DisplayFor(model => model.CurrentHotel.HotelName)
    </h1>
    <h3 style="margin-bottom: 5px">@Html.DisplayFor(model => model.CurrentHotel.City)</h3>

</div>

<body onload="WeatherFunction();">

    <div class="container" style="text-align:center">
        <div class="row form-group form-inline">
            <input name="hidden" id="city" type="hidden" class="form-control" value="@Model.CurrentHotel.City" placeholder="City Name" />
        </div>
        <div id="rcorners3" >
            <div id="show" ></div>
        </div>
        </div>

</body>

<div style="margin-bottom:10px;margin-top:50px;">
    <img src=@Model.CurrentHotel.HotelPictureBig class="responsive" width="1000" height="800">

</div>

<div>
    <h2 style="margin-bottom: 10px">Hotel Information</h2>
    <p style="margin-bottom: 20px">@Html.DisplayFor(model => model.CurrentHotel.HotelInfo)</p>

</div>

<div>
    <p style="margin-bottom: 20px">Number of room: @Html.DisplayFor(model => model.CurrentHotel.NumberOfRooms)</p>

</div>
<div>
    <p style="margin-bottom: 20px">Price per room: @Html.DisplayFor(model => model.CurrentHotel.RoomPrice) Kr</p>

</div>

<div class="container my-4">

    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content" style="margin-top: 20% ">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.CurrentHotel.HotelPictureSmallOne
                                     allowfullscreen>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a>
                <img src=@Model.CurrentHotel.HotelPictureSmallOne
                     data-toggle="modal" class="responsive" style="min-height: 260px" data-target="#modal1" width="350" height="200">
            </a>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content" style="margin-top:20%">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.CurrentHotel.HotelPictureSmallTwo
                                     allowfullscreen>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a>
                <img src=@Model.CurrentHotel.HotelPictureSmallTwo
                     data-toggle="modal" class="responsive" style="min-height: 260px" data-target="#modal6" width="350" height="200">
            </a>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <!--Content-->
                    <div class="modal-content" style="margin-top:20%">
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.CurrentHotel.HotelPictureSmallThree
                                     allowfullscreen>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Name-->
            <a>
                <img src=@Model.CurrentHotel.HotelPictureSmallThree
                     data-toggle="modal" class="responsive" style="min-height: 260px" data-target="#modal4" width="350" height="200">
            </a>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <!-- Grid row -->
</div>
<form method="post">
    <div class="form-group" style="width:250px">
        <label asp-for="Input.CheckIn">Check In</label>
        <input id="checkin" asp-for="Input.CheckIn" class="form-control dateChange" />
        @Html.ValidationMessageFor(model => model.Input.CheckIn, "", new { @class = "alertMessages newLine" })
    </div>
    <div class="form-group" style="width:250px">
        <label asp-for="Input.CheckOut">Check Out</label>
        <input id="checkout" asp-for="Input.CheckOut" class="form-control dateChange" />
        @Html.ValidationMessageFor(model => model.Input.CheckOut, "", new { @class = "alertMessages newLine" })
    </div>
    <button id="checkDates" type="submit" class="btn btn-primary" asp-route-id="@Model.CurrentHotel.Id" asp-page-handler="PickDates">Check dates</button>
</form>

@if (SignInManager.IsSignedIn(User))
{
    @if (!string.IsNullOrEmpty(Model.CheckInString) && !string.IsNullOrEmpty(Model.CheckOutString))
    {
        var checkIn = Model.CheckInString;
        var checkOut = Model.CheckOutString;

        IDictionary<string, string> routeData = new Dictionary<string, string>();
        routeData.Add("data1", checkIn);
        routeData.Add("data2", checkOut);

        if (Model.numberOfAvailableRooms > 0)
        {
            <div align="center">
                <p>There is <span style="color:lawngreen">@Model.numberOfAvailableRooms</span> rooms available for booking between your dates </p>
                <a id="bookButton" class="btn btn-primary" style="width: 50%; height: 40%; font-size : 20px;" asp-page="./Booking" asp-all-route-data="routeData" asp-route-id="@Model.CurrentHotel.Id">Book</a>
            </div>
        }
        else
        {
            <div>
                <p class="alertMessages newLine">Sorry, we cant offer your rooms between those dates.</p>
            </div>
        }

    }
}
else
{
    <div align="center">
        <a class="btn btn-primary" style="width: 50%; height: 40%; font-size : 20px;" asp-page="./Account/Login">Log in to book</a>
    </div>
}

<script>

    var dateChanges = document.querySelectorAll('.dateChange')
    Array.from(dateChanges).forEach(link => {
        link.addEventListener("change", function () {
            const button = document.getElementById("bookButton");
            button.hidden = true;
        });
    });

</script>



