@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>

@if (Model.Hotels.Count() > 0)
{
    <div style="text-align:center;padding-bottom:50px">
        <h2>Welcome to Project Booking</h2>
    </div>
    <div class="row">
        @foreach (var item in Model.Hotels)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a asp-page="./HotelDetails" asp-route-id="@item.Id"><img class="card-img-top;responsive" src=@item.HotelPictureBig width="348" height="300"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-page="./HotelDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.HotelName)</a>
                        </h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.HotelInfo)</p>
                    </div>
                    <table class="a">
                        <tr>
                            <th scope="row">Price:</th>
                            <td>@item.RoomPrice kr</td>
                        </tr>
                        <tr>
                            <th scope="row">Location: </th>
                            <td>@item.City</td>
                        </tr>
                    </table>
                    <div class="card-footer">
                        <small class="text-muted">@Html.Raw(item.HotelStars)</small>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container text-center">
        <a asp-page-handler="Seed" class="btn btn-dark w-25 m-1">Seed</a>
    </div>

}

